lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# Node modules
# (they should instead be added to our "package.json" file and "npm install"'d after a deploy/clone)
/node_modules
