<li class='list'>
<img src="{{ icon }}">
<div class='track_info'>
<h3>
  {{ name }}
</h3>
<h4>
  {{ artist }}
</h4>
<h5>
  Sent by (999) 999-9999
</h5>
</div>
<div class='approve'>
<a class='remove active' href='#'>
  <img src='../images/remove.png'>
  Remove
</a>
<a class='add active' href='#'>
  <img src='../images/check.png'>
  Add
</a>
</div>
</li>    	