!!!

%html

	%head
		%link(rel="stylesheet" href="../styles/style.css")
		%script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
		%script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
		


	%body

		#top
			#left
				#logo
					play<span>r</span>
				
				%a#create(href="#")
					Rage On

				#number
					(999) 999-9999




