!!!

%html

	%head
		%script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
		%script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
		%script(src="../js/playlist.js" type="text/javascript")

		%link(rel="stylesheet" href="../styles/playlist.css")

	%body

		#nav_hidden

		#nav
			%a#logo(href="index.html")
				play<span>r</span>

		#current
			%img(src="../images/kanye.jpeg")

			#info
				%h2#title
					No Church in the Wild
				%h3#artist
					Kanye West


			#buttons
				#left
					%a#back(href="#")
						%img(src="../images/back.png")

				#center	
					%a#play_pause(href="#")

						%img#play(src="../images/play.png")			
						%img#pause(src="../images/pause.png")			
						
				#right
					%a#next(href="#")
						%img(src="../images/next.png")

		%ul#playlist
			%li.list
				%img(src="../images/miguel.jpeg")
				.track_info
					%h3
						Adorn
					%h4
						Miguel
					%h5
						Sent by (999) 999-9999
				.approve
					%a.remove.active(href="#")
						%img(src="../images/remove.png")
						Remove
					%a.add.active(href="#")
						%img(src="../images/check.png")
						Add

			%li.list
				%img(src="../images/miguel.jpeg")
				.track_info
					%h3
						Adorn
					%h4
						Miguel
					%h5
						Sent by (999) 999-9999
				.approve
					%a.remove.active(href="#")
						%img(src="../images/remove.png")
						Remove
					%a.add.active(href="#")
						%img(src="../images/check.png")
						Add
			%li.list
				%img(src="../images/miguel.jpeg")
				.track_info
					%h3
						Adorn
					%h4
						Miguel
					%h5
						Sent by (999) 999-9999
				.approve
					%a.remove.active(href="#")
						%img(src="../images/remove.png")
						Remove
					%a.add.active(href="#")
						%img(src="../images/check.png")
						Add

			%li.list
				%img(src="../images/miguel.jpeg")
				.track_info
					%h3
						Adorn
					%h4
						Miguel
					%h5
						Sent by (999) 999-9999
				.approve
					%a.remove.active(href="#")
						%img(src="../images/remove.png")
						Remove
					%a.add.active(href="#")
						%img(src="../images/check.png")
						Add

			%li.list
				%img(src="../images/miguel.jpeg")
				.track_info
					%h3
						Adorn
					%h4
						Miguel
					%h5
						Sent by (999) 999-9999
				.approve
					%a.remove.active(href="#")
						%img(src="../images/remove.png")
						Remove
					%a.add.active(href="#")
						%img(src="../images/check.png")
						Add

			%li.list
				%img(src="../images/miguel.jpeg")
				.track_info
					%h3
						Adorn
					%h4
						Miguel
					%h5
						Sent by (999) 999-9999
				.approve
					%a.remove.active(href="#")
						%img(src="../images/remove.png")
						Remove
					%a.add.active(href="#")
						%img(src="../images/check.png")
						Add

			%li.list
				%img(src="../images/miguel.jpeg")
				.track_info
					%h3
						Adorn
					%h4
						Miguel
					%h5
						Sent by (999) 999-9999
				.approve
					%a.remove.active(href="#")
						%img(src="../images/remove.png")
						Remove
					%a.add.active(href="#")
						%img(src="../images/check.png")
						Add

			%li.list
				%img(src="../images/miguel.jpeg")
				.track_info
					%h3
						Adorn
					%h4
						Miguel
					%h5
						Sent by (999) 999-9999
				.approve
					%a.remove.active(href="#")
						%img(src="../images/remove.png")
						Remove
					%a.add.active(href="#")
						%img(src="../images/check.png")
						Add
					


			




