<!DOCTYPE html>
<html>
  <head>
    <link href='/styles/style.css' rel='stylesheet'>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
  </head>
  <body>
    <div id='top'>
      <div id='left'>
        <div id='logo'>
          play<span>r</span>
        </div>
        <a href='/play' id='create'>
          Rage On
        </a>
        <div id='number'>
			617-274-8082
        </div>
      </div>
    </div>
  </body>
</html>
